html, body {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
h1, h2, h3, p {
	margin-block-start: 0;
	margin-block-end: 0;
}
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

/***************/

#header {
    width: 100%;
	height: 100px;
	position: fixed;
    left: 0;
    top: 0;
    transition: all .2s ease;
}
#header.scrolled {
    background: rgba(255,255,255,7);
    backdrop-filter: blur(5px);
    height: 60px;
}
#header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eng {
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    float: left;
    margin-left: 120px;
    margin-top: 20px;
}
.navigator {
	display: flex;
	justify-content: space-between;
	align-items: center;
    float: left;
    margin-top: 0px;
    margin-left: 22px;

}
.nav-links {
    display: flex;
	justify-content: space-around;
	align-items: center;
    color: #000;
    list-style: none;
    
}
.nav-link {   
    margin-right: 10px;
}
.nav-link:last-of-type {
    margin-right: 0;
}
.link {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
}
.logo {
    float: right;
    width: 238px;
    height: 54px;
    margin-top: 2px;
    margin-right: 120px;
}

/***************/
.d12 {
    margin-left: 120px; 
    width: 100px; 
    height: 8px;
    background: #000000;
    }
.h1 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-left: 20px;

}
  .flipper {
    width: 270px;
    height: 180px;
    background-color: transparent;
    border-radius: 8px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flipper:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    background: #E6E6E6;
  }
  .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #1a1a1a;
    filter: invert();
    
  }
  .container:hover .flipper {
    transform: rotateY(180deg);
  }
  .img-fl {
    width: 200px;
    height: 50px;
    padding: 50px 35px;
  }
  .list-logo-1 {
    display: flex;
	  justify-content: space-around;
	  align-items: center;
    list-style: none;
    margin-top: 40px;
  }
  .list-logo-2 {
    display: flex;
	justify-content: space-around;
	align-items: center;
    list-style: none;
    margin-top: 30px;
  }